body {
    background-color: rgb(157, 191, 209);
}

nav {
    top: 0;
    left: 0;
    background-color: rgb(14, 118, 160);
    overflow-x: hidden;
    padding: 20px;
}

nav a {
    padding: 6px 10px 6px 10px;
    text-decoration: aliceblue;
    font-size: 24px;
    color: white;
    display: inline;
    background: rgb(9, 44, 73);
}

footer {
    text-align: center;
}

footer li {
    list-style: none;
    padding-right: 20px;
    display: inline;
}
