* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Helvetica';
}

/* general settings */
body {
    background-color: #fff;
}

.thicc_boi {
    background-color: #6364d8;
    height: 2px;
    left: 0px;
    top: 0px;
}

header {
    background-color: #f8cb00;
    height: 120px;
    left: 0px;
    top: 0px;
}

header ul {
    list-style: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
}

/* top part of header */
.container__top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.top__title {
    color: #fff;
    font-size: 26px;
    height: 30px;
    width: 170px;
    margin-top: 20px;
    margin-left: 5%;
}

.top__city {
    font-size: 15;
    height: 20px;
    width: 55px;
    margin-left: 10%;
}

.top__phone {
    font-size: 15;
    height: 20px;
    width: 120px;
    margin-left: 15%;
}

.top__links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 20%;
}

.top__links li {
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    margin: auto;
}

/* bottom part of header */
.container__bot {
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
}   

.bot__bar {
    background: #fff;
    height: 40px;
    width: 500px;
}

.bot__bar_text {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20%;
}

.bot__cart {
    display: inline-block;
    margin-left: 25%;
    background: #6364d8;
    height: 40px;
    width: 200px;
}

.bot__cart_text {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 25%;
}

.bot__cart_quant {
    background: #393ab1;
    color: #fff;
    width: 50px;
    height: 40px;
    margin-top: -29px;
    margin-left: 75%;
}


nav {
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 20px;
}

nav a {
    padding: 6px 10px 6px 10px;
    text-decoration: aliceblue;
    font-size: 24px;
    color: white;
    display: inline;
    background: rgb(9, 44, 73);
}