* {
    box-sizing: border-box;
    font-family: "Helvetica";
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #fff;
}

header{
    background-color: #f8cb00;
    border-top: 2px solid #6364d8;
}

hr { /* work in progress */
    border-style: inset;
    border-width: 1px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

/* ---- container settings ---- */
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 900px;
}

.container__left {
    width: 25%;
}

.container__right {
    width: 75%;
}

/* ---- flexbox settings ---- */
.flex_col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.flex_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
}

.flex_content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex_cart {
    background: #6364d8;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    outline: none;
}

/* ---- misc settings ---- */
.icon {
    margin-right: 0.5vw; /* change to vw or something */
}

.font_w {
    color: #fff;
}
.font_o, .item-price {
    color: #f8cb00;
}
.font_b {
    color: #6364d8;
}
.font_g, .sidenav_subcateg, .sort {
    color: #8f8f8f;
}

/* ------ header top row ------ */
.header_title {
    font-size: 26px;
    margin-top: 20px;
    /* margin-left: 20px; */
    padding-left: 20px;
}

.links li {
    display: inline;
    margin-left: 10px;
}

/* ------ header bot row ------ */
.searchbar {
    background: #fff;
    width: 75%;
    padding: 12px 10px;
    border-radius: 5px;
    display: flex;
}

.searchbar input[type="text"] {
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.cart_text {
    margin-left: 20px;
    color: #fff;
}

.cart_quant {
    background: #393ab1;
    color: #fff;
    padding: 11px 10px;
    border-radius: 0 5px 5px 0;
    transform: translateX(20px);
}

/* ------ pre-content top row ------ */
.content_title {
    font-size: 26px;
}

.pagestats {
    display: flex;
}

/* ------ pre-content bot row ------ */
.description li {
    display: inline;
    margin-right: 10px;
}

/* ------ main content ------ */
.item {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 20%;
    border: solid 1px #000;
    justify-content: flex-start;
    margin: 20px;
}

/* ------ sidenav ------ */
.sidenav {
    border: 1px solid;
    margin-right: 20px;
    position: relative;
    top: -20px;
    background: #fff;
    box-shadow: 5px 10px #000;
}

.sidenav_title {
    margin: 10px 0;
}
.sidenav_categ {
    margin: 10px 0;
}
.sidenav_subcateg {
    margin: 6px 0;
}